body{
    background-image: url("/static/1320444123_ranger-afghanistan-hr.jpg");
    margin-left: 30px;
    background-attachment:fixed;

}
.users_list p{
    margin-left: 20px;
    font-size: 20px;
    color: #005700;
}
.main_form{
    width: 300px;
    margin-top: 30px;
    margin-left: 25px;
}

.navigation{
    margin-top: 10px;
    margin-left: 10px;

}
.navigation a{
    margin-left: 5px;
    color: green;
    font-size: 16px;
}
.navigation a:hover{
    text-decoration: none;
    color: brown;
    margin-top: 15px;
}
.alert{
    color: red;
}