{% extends 'base.html' %}
{% block content %}
{{block.super}}

<style type="text/css">
body{
	background-image: url("/static/6839669-swat-wallpaper-hd.jpg");
}
</style>

    <h2 class="alert_">
    Дорогие друзья!!! Огромная просьба - если вы записались и у вас <br> по каким-либо причином не получается поехать на мероприятие,<br>
    обязательно сообщите об этом организатором в письме или иным способом.    </h2>
<div class="users_list">    
<h1> Все участники </h1>
    
    <h2> Организаторы</h2>

        <p> <span >Сергей</span></p>
        <p> <span>Савран</span></p>
        <p> <span>s.savran@itransition.com</span></p>

    <span>------------------------------------</span>

        <p> <span >Андрей</span></p>
        <p> <span>Намакарский</span></p>
        <p> <span>a.namakarsky@itransition.com</span></p>

    <span>------------------------------------</span>
    <h2> Участники (Пока всего - {{ object_list|length }})</h2>

{% for gammer in object_list %}

    <p> <span >{{ gammer.FirstName }}</span></p>
    <p> <span>{{ gammer.LastName }}</span></p>
    <p> <span>{{ gammer.Email }}</span></p>
{#    <form action="{% url 'delete' pk=gammer.pk%}" method="post">{% csrf_token %}#}
{##}
{#        <input type="submit" class="btn btn-danger" value="Отказаться" />#}
{#    </form>#}

    <span>------------------------------------</span>
    {% empty %}
    <p>Пока никто не записался</p>
{% endfor %}

    </div>
{% endblock %}